<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="queueCapacity" value="25" />
    </bean>

    <bean id="logger" class="java.util.logging.Logger"
          scope="prototype" factory-method="getGlobal" >
        <property name="level">
            <util:constant static-field="java.util.logging.Level.ALL"/>
        </property>
    </bean>

    <bean id="usdCurrency" class="java.util.Currency"
          scope="prototype" factory-method="getInstance" >
        <constructor-arg index="0" value="USD" />
    </bean>

    <!--
        Your API key and secret must be passed using java system properties.  e.g.,
        java -Dapi.key=YOUR_KEY -Dapi.secret=YOUR_SECRET
    -->
    <bean id="httpApi" class="to.sparks.mtgox.service.MtGoxHTTPClient" >
        <constructor-arg index="0">
            <ref bean="logger"/>
        </constructor-arg>
        <constructor-arg index="1" value="${api.key}" />
        <constructor-arg index="2" value="${api.secret}" />
    </bean>

    <bean id="wsApi" class="to.sparks.mtgox.service.MtGoxWebSocketClient" init-method="init" destroy-method="destroy">
        <constructor-arg index="0">
            <ref bean="logger"/>
        </constructor-arg>
        <constructor-arg index="1" >
            <ref bean="taskExecutor"/>
        </constructor-arg>
    </bean>

    <bean id="mtgoxUSD" class="to.sparks.mtgox.service.MtGoxServiceImpl">
        <constructor-arg index="0">
            <ref bean="logger"/>
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="httpApi"/>
        </constructor-arg>
        <constructor-arg index="2">
            <ref bean="wsApi"/>
        </constructor-arg>
        <constructor-arg index="3">
            <ref bean="usdCurrency"/>
        </constructor-arg>
    </bean>

</beans>